<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h1>Hello, <%= user.displayName %> </h1>
        <p>Email: <%= user.emails[0].value %></p>
        <br>
        <a href="/logout">
            <button>Logout</button>
        </a>
    </body>
</html>

